body{
    background-image: url('LocalCoffee.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#title{
    color: chocolate;
    text-align: center;
    border: 5px solid saddlebrown;
}
#subtitle{
    color: chocolate;
    text-align: right;
}